.heart-container {
  margin-top: 30%;
}

.text-container {
  margin: auto;
  width: fit-content;
  font-size: 40px;
  color: blueviolet;
}

#heart {
  position: relative;
  width: 200px;
  height: 180px;
  margin: auto;
}

#heart::before {
  content: "";
  position: absolute;
  top: 0;
  width: 52px;
  height: 80px;
  border-radius: 50px 50px 0 0;
  background: red;
  left: 50px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  /* Chrome, Safari, Opera */
  -webkit-animation-name: heartAnimationPart1;
  -webkit-animation-duration: 4s;
  /* Standard syntax */
  animation-name: heartAnimationPart1;
  animation-duration: 4s;

}

#heart::after {
  content: "";
  position: absolute;
  top: 0;
  width: 52px;
  height: 80px;
  border-radius: 50px 50px 0 0;
  background: red;
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
  /* Chrome, Safari, Opera */
  -webkit-animation-name: heartAnimationPart2;
  -webkit-animation-duration: 4s;
  /* Standard syntax */
  animation-name: heartAnimationPart2;
  animation-duration: 4s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes heartAnimationPart1 {
  23% {width: 65px; height: 100px; left: 65px;}
  25% {width: 52px; height: 80px; left: 50px;}
  48% {width: 78px; height: 120px; left: 78px;}
  50% {width: 52px; height: 80px; left: 50px;}
  73% {width: 91px; height: 140px; left: 91px;}
  75% {width: 52px; height: 80px; left: 50px;}
  98% {width: 104px; height: 160px; left: 104px;}
}

/* Standard syntax */
@keyframes heartAnimationPart1 {
  23% {width: 65px; height: 100px; left: 65px;}
  25% {width: 52px; height: 80px; left: 50px;}
  48% {width: 78px; height: 120px; left: 78px;}
  50% {width: 52px; height: 80px; left: 50px;}
  73% {width: 91px; height: 140px; left: 91px;}
  75% {width: 52px; height: 80px; left: 50px;}
  98% {width: 104px; height: 160px; left: 104px;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes heartAnimationPart2 {
  23% {width: 65px; height: 100px;}
  25% {width: 52px; height: 80px;}
  48% {width: 78px; height: 120px;}
  50% {width: 52px; height: 80px;}
  73% {width: 91px; height: 140px;}
  75% {width: 52px; height: 80px;}
  98% {width: 104px; height: 160px;}
}

/* Standard syntax */
@keyframes heartAnimationPart2 {
  23% {width: 65px; height: 100px;}
  25% {width: 52px; height: 80px;}
  48% {width: 78px; height: 120px;}
  50% {width: 52px; height: 80px;}
  73% {width: 91px; height: 140px;}
  75% {width: 52px; height: 80px;}
  98% {width: 104px; height: 160px;}
}

